[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"

[requires]
python_version = "3.6"
